*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
width: 100%;
background-color: rgba(183, 76, 76, 0.42);
display: flex;
justify-content: space-around;
align-items: center;

height: 156px;
flex-shrink: 0;
}
.header-links{
 width: 800px;
 height: 90px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;

}
.header h1{
    color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
-webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #000;
font-family: Pattaya;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 11.76px;
width: 512px;
height: 78px;
flex-shrink: 0;
padding: 20px;
}
.header-links i{
    color: white;
}
.header-links a{
    color: white;
    text-decoration: none;
    color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 5.88px;
}
.section1{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(176, 85, 85, 0.63);
}
.section1_rightS{
width: 500px;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
}
.section1_leftS{
    width: 500px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.section1_leftS h1{
    color: #FFF;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 8.82px;
}
.section1_leftS p{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.4px;
}
button{
    width: 334px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.49);
    border: none;
}
button p{
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.88px;
}
.icons{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.section2{
    width: 100%;
height: 1350px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
justify-content: space-evenly;
}
.section2_box{
    width: 1000px;
    height: 340px;
   display: flex;
}

.section2_box-rightS{
    width: 400px;
    height: 340px;
    background-color: rgba(183, 76, 76, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;

}
.section2_box-leftS{
    width: 600px;
    height: 340px;
    background-color: rgba(183, 76, 76, 0.35);
}
.main{
    width: 100%;
    height: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px;
    
}
.main-title{
    margin:20px 0px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main_title-btn{
    border-radius: 10px;
background: rgba(192, 105, 77, 0.47);
width: 153px;
height: 54px;
flex-shrink: 0;
}
.main p{
    color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.41px;
}
.section2_box2{
    width: 1000px;
    height: 340px;
   display: flex;
}
.section2_box2-rightS{
    width: 600px;
    height: 340px;
    background-color: rgba(183, 76, 76, 0.35);

}
.section2_box2-leftS{
    width: 400px;
    height: 340px;
    background-color: rgba(183, 76, 76, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2{
    width: 100%;
    height: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px;
    
}
.main2 p{
    color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.41px;
}
.main2-title{
    margin:20px 0px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main2_title-btn{
    border-radius: 10px;
    background: rgba(192, 105, 77, 0.47);
    width: 153px;
    height: 54px;
    flex-shrink: 0;
    
}


.section5{
    width: 100%;
    height:550px;   
    background-color: rgba(183, 76, 76, 0.42);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.section5_boxes{
    width: 1250px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section5_box-rightS{
    width: 530px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section5_box-leftS{
    width: 530px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section5_box{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
  

}
.section5_box-rightS-btn{
    width: 200px;
    height: 57px;
flex-shrink: 0;
    border-radius: 10px;
    background: rgba(192, 105, 77, 0.47);
  border: none;
  color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 5.88px;
}
.section5_box-leftS-btn{
    width: 200px;
    height: 57px;
    flex-shrink: 0;
        border-radius: 10px;
        background: rgba(192, 105, 77, 0.47);
        border: none;
        color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 5.88px;
}

.section3{
    width: 100%;
height:450px;
background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
url('img/section3Bacground.png');
  background-size: cover;
position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
    
}
.section3_main{
  color: black;
    display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
align-items: center;
    position: absolute;
    width: 1200px;
    height: 400px;
        padding:90px;  
}
.section3 h1 {
  
    margin-bottom: 40px;
}
.section3 p{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 5.88px;
}
.section4{
    width: 100%;
height:270px;
background-color: rgba(183, 76, 76, 0.42);
position: relative;

}
.section4 h1{
    position: absolute;
    top:50px ;
left:450px ;
color: white;
}
.img1{
position: absolute;
top:90px ;
left:150px ;

}
.img2{
    position: absolute;
    top: 190px;
    left: 360px;
}
.img3{
    position: absolute;
    top:210px ;
    left:580px ;
}
.img4{
    position: absolute;
    top: 120px;
    left: 800px;
}
.img5{
    position: absolute;
    top: 70px;
    left: 1000px;
}
.footer{
    width: 100%;
    height: 270px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}
.footer_icons{
    position: absolute;
  bottom: 30px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}